@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
body {
    width: 100%;
    min-width: 800px;
    min-height: 100vh;
    position: relative;
    background-color: rgb(22, 22, 22);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: white;
}
header {
    z-index: 100;
    width: 100%;
    height: 3rem;

    display: block;
    right: 0;

    position: absolute;

    transition: all .2s ease-in-out;
    animation: rotate-color 5s alternate infinite;
}   

.menu {
    width: 30rem;
    height: 100%;

    display: flex;
    position: relative;
    float: right;
}
header img {
    display: none;
}
.menu ul {
    width: 100%;
    height: 100%;

    font-weight: bold;

    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
}
.menu ul li {
    padding: .8rem .3rem;
    border-top: 0px solid rgba(19, 121, 204, 0.849);
    transition: border-top .4s ease-in-out;
}
.menu ul li:hover {
    border-top: 10px solid rgba(19, 121, 204, 0.849);
}



.body-content {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-title {
    width: 100%;
    height: 13rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 3rem 7% 0rem 7%;
    background-image: url(img/uso/bk_fundo.jpg);
    background-repeat: no-repeat;
    background-position: center 60%;
    background-size: cover;
}
.content-title .d-mascote {
    width: 5rem;
}
.content-title div {
    height: 100%;
    width: 13rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-title .d-title {
    height: 13rem;
    width: 15rem;
    margin-top: -3rem;
}
.content-title .d-title img{
    margin-bottom: auto;
    object-fit: contain;
    filter: drop-shadow(0px 0px 10px black);
}
.content-title div img, .content-title div h1 {
    width: 100%;
    height: 100%;
    margin-bottom: -20px;
    

    position: absolute;
    right: 0;
    font-size: 6em;
}
.content-title div h1 {
    height: auto;
}
.content-title div h1 span {
    font-size: 2rem;
    margin-left: 5px;
    letter-spacing: 3px;
}


footer {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    background-color: rgb(14, 14, 14);
}
footer button {
    width: 30%;
    height: 100%;
    border:none;
    background-color: rgb(14, 14, 14);
    transition: all .2s ease-in-out;
}
footer button a {
    width: 100%;
    height: 100%;
    display: block;
}
footer button img {
    height: 80%;
    margin-top: 5px;
    filter: brightness(300%) grayscale(100%);
    /* animation: rotate-color 10s alternate infinite; */
}
footer button:hover img {
    animation: moviment 2s infinite ease-in-out;
}
/*footer button:hover {
    height: 120%;
    margin-top: -7px;
    border: 1.5px solid rgba(0, 0, 255, 0.438);
    border-radius: 5px 5px 0 0;
    animation: rotate-color 10s alternate infinite;
}*/

@keyframes moviment {
    0% {
        filter: hue-rotate(0deg);
        transform: translateX(0rem);
    }
    25% {
        filter: hue-rotate(72deg);
        transform: translateX(2rem);
    }
    50% {
        filter: hue-rotate(144deg);
        transform: translateX(-2rem);
    }
    75% {
        filter: hue-rotate(216deg);
        transform: translateX(.5rem);
    }
    100% {
        filter: hue-rotate(360deg);
        transform: translateX(0rem);
    }
}

@keyframes rotate-color {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

@media screen and (max-width:780px){
    body {
        min-width: 580px;
        min-height: 100%;
        max-height: 2000px;
    }
    .menu{
        display: none;
        position: absolute;
    }
    .menu ul {
        flex-grow: 1;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        font-size: 3rem;
    }
    header>a {
        z-index: 10;
        width: 2rem;
        height: 2rem;
        display: block;
        position: absolute;
        right: 0;
        margin-right: 15px;
        margin-top: 7px;
    }
    .menu:target{
        width: 100%;
        top: 0;
        min-height: 100vh;
        flex-grow: 1;
        display: flex;
        background-color: rgba(24, 24, 24, 0.990);
    }
    header {
        position: absolute;
    }
    header img {
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: 0;
        margin-right: 15px;
        margin-top: 7px;
        display: block;
    }
    .content-title {
        justify-content: space-around;
    }
    .content-title div h1 {
        width: 100%;
        font-size: 7rem;
        margin-left: 0;
    }
    
}
@media screen and (max-width: 480px) {
    body {
        min-width: 400px;
    }
    .content-title div h1 {
        font-size: 4rem;
    }
}