section {
    width: 100%;
    max-width: 1920px;
    display: flex;
    /*aqui estava space-betwin*/
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 5rem;
    
    position: relative;
}
.information-primare-content {
    min-height: 350px;
}
.main-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 1.5rem;
    margin: .7rem;
    margin-right: 1.2rem;
    width: 31rem;
    height: 100%;
    /* border: 1px solid rgba(255, 255, 255, 0.253); */
}
.main-article h2 {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 3rem;
}
.main-article h4 {
    text-align: justify;
    font-size: 1.8rem;
}
.d-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(21, 113, 218);
    flex-shrink: 0;
    transition: all 1s ease;
    animation: rotate-color 5s alternate infinite;
    
}
.d-image:hover {
    transform: rotateZ(80deg);
    border-radius: 10%;
    border-bottom: 2px solid rgba(18, 182, 182, 0.685);
    border-top: 2px solid rgba(18, 182, 182, 0.685);
}
.d-image:hover img {
    transform: rotateZ(-85deg);
}
.d-image img {
    width: 100%;
    transition: all 1s ease;
    margin-top: -1rem;
    margin-left: -1rem;
    filter: grayscale(100%);
}
.button-information {
    width: 80%;
    height: 3rem;
    padding: 0;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.459);
}
.button-information a{
    color: black;
    display: block;
    padding-top: 8px;
    font-weight: bolder;
}

.information-content {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    display: flexbox;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    border-radius: 50px 50px 0 0;
    background-color: white;
    color: black;
}
.information-content article {
    width: 18.5rem;
    min-width: 5rem;
    flex-grow: 1;
    height: auto;
    margin: .7rem;
    padding: 1.5rem;
    text-align: center;
    border: 1.5px solid rgba(0, 0, 0, 0.236);
    transition: all .3s ease-out;
}
.information-content article:hover {
    animation: border-animate .5s normal;
    border-radius: 15px;
    transform: translateY(-15px);
    
}
.information-content article h3 {
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.information-content article p {
    width: 100%;
    text-align: justify;
    font-size: 1.3rem;
}
.information-content article li {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

@keyframes rotate-color {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
@keyframes border-animate {
    0% {
        border-radius: 0 0 0 0;
    }
    15% {
        border-radius: 25px 0 0 0;
    }
    30% {
        border-radius: 45px 25px 0 0;
    }
    45% {
        border-radius: 25px 45px 25px 0;
    }
    60% {
        border-radius: 15px 25px 45px 25px;
    }
    75% {
        border-radius: 15px 15px 25px 45px;
    }
    100% {
        border-radius: 15px;
    }

}
@media screen and (max-width:780px){
    section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .main-article {
        width: 25rem;
        height: 100%;
    }
    .main-article h2 {
        font-size: 2rem;
    }
    .main-article h4 {
        font-size: 1.2rem;
    }
    .d-image {
        width: 7rem;
        height: 7rem;
        margin-left: 2rem;
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 20px rgb(21, 113, 218);
        flex-shrink: 0;
        transition: all 1s ease;
        animation: rotate-color 5s alternate infinite;
        
    }
    .information-content {
        width: 100%;
        max-width: 600px;
        height: 20%;
        flex-direction: column;
        align-items: center;
    }
    .information-content article {
        width: 100%;
    }
}